body {
    font-size: 12pt !important;
    background-color: #F5F5F5 !important;
}

.clearfix {
    clear: both;
}

.blockLine {
    height: 20px;
    background-color: #F5F5F5;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 100;
}

.blockLine2 {
    height: 2px;
    background-color: #F5F5F5;
}

.optionPanel {
    font-size: 11pt;
    padding: 20px 10px;
    position: relative;
}

.goArrow {
    position: absolute;
    top: 20px;
    right: 7px;
    color: #414141;
}

.optionalPicker {
    padding: 10px 0px !important;
}

.optionalLine {
    font-size: 11pt !important;
    color: #535A6C !important;
}

.optionalCell {
    padding: 18px 15px !important;
    position: relative !important;
}

.wrapper {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.hidden {
    display: none;
}

.vux-number-selector-plus svg {
    position: relative;
    top: -10px;
}

.vux-number-selector-sub svg {
    position: relative;
    top: -8px;
}

a.vux-number-selector {
    padding: 15px 10px;
}

input.vux-number-input {
    padding: 15px 10px;
}

.mint-cell-wrapper {
    border-top: 1px solid #fff;
    background-image: none !important;
}

.loadMoreBaseLine {
    color: gray;
    font-size: 14px;
    text-align: center;
    margin: 10px;
}

.popup-close {
    position: absolute;
    float: right;
    right: 0px;
}

.ivu-avatar-large {
    width: 50px !important;
    height: 50px !important;
    line-height: 50px !important;
    border-radius: 40px !important;
}

.ivu-btn-default {
    border-radius: 20px !important;
}

.weui-btn {
    background-color: #B69C7D !important;
}

.ivu-tabs-nav .ivu-tabs-tab-active {
    color: #B69C7D !important;
}

.ivu-tabs-ink-bar {
    background-color: #B69C7D !important;
}

a {
    color: #B69C7D !important;
}

/*video::-webkit-media-controls-panel {*/
    /*display: flex !important;*/
    /*opacity: 1 !important;*/
/*}*/
